<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>mvcStat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWWWServlet</display-name>
    <servlet-name>HelloWWWServlet</servlet-name>
    <servlet-class>by.epam.lab.HelloWWWServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWWWServlet</servlet-name>
    <url-pattern>/HelloWWWServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllParamsServlet</display-name>
    <servlet-name>AllParamsServlet</servlet-name>
    <servlet-class>by.epam.lab.AllParamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllParamsServlet</servlet-name>
    <url-pattern>/AllParamsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultController</display-name>
    <servlet-name>ResultController</servlet-name>
    <servlet-class>by.epam.lab.controllers.ResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultController</servlet-name>
    <url-pattern>/ResultController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartController</display-name>
    <servlet-name>StartController</servlet-name>
    <servlet-class>by.epam.lab.controllers.StartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartController</servlet-name>
    <url-pattern>/StartController</url-pattern>
  </servlet-mapping>
</web-app>